version: '3.8'

services:
  app:
    build: .
    ports:
      - "80:80"
    environment:
      - DB_HOST=db
      - DB_DATABASE=${DB_DATABASE:-student_grades}
      - DB_USERNAME=${DB_USERNAME:-root}
      - DB_PASSWORD=${DB_PASSWORD:-password}
      - DB_PORT=3306
    depends_on:
      - db

  db:
    image: mariadb:10.11
    restart: always
    environment:
      - MARIADB_DATABASE=${DB_DATABASE:-student_grades}
      - MARIADB_USER=${DB_USERNAME:-root}
      - MARIADB_PASSWORD=${DB_PASSWORD:-password}
      - MARIADB_ROOT_PASSWORD=${DB_PASSWORD:-password}
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
